name: Test

on:
  push:
    # ignore branches where the release workflow runs as it already calls this one
    branches-ignore:
      - main
      - next
      - dev
  pull_request:
    branches:
      - main
      - next
      - dev
  workflow_call:
    secrets:
      SONAR_TOKEN:
        required: true

permissions:
  contents: read

jobs:
  # ignore the push event trigger if a PR is open for the current branch
  prevent-duplicate-checks:
    runs-on: ubuntu-latest
    steps:
      - uses: insurgent-lab/is-in-pr-action@129df59687402c4a9c81a9a9e88d7448cdbba541 # v0.2.0
        id: isInPR
    outputs:
      should-run: ${{ !(steps.isInPR.outputs.result == 'true' && github.event_name == 'push') }}

  test_matrix:
    strategy:
      matrix:
        node-version: [18, 20, 22]

    runs-on: ubuntu-latest
    timeout-minutes: 5

    needs: prevent-duplicate-checks
    if: ${{ needs.prevent-duplicate-checks.outputs.should-run == 'true' }}

    steps:
      - name: Harden Runner
        uses: step-security/harden-runner@0080882f6c36860b6ba35c610c98ce87d4e2f26f # v2.10.2
        with:
          disable-sudo: true
          egress-policy: block
          allowed-endpoints: >
            api.github.com:443
            github.com:443
            objects.githubusercontent.com:443
            registry.npmjs.org:443
            storage.googleapis.com:443
            tuf-repo-cdn.sigstore.dev:443

      - name: Checkout code
        uses: actions/checkout@11bd71901bbe5b1630ceea73d27597364c9af683 # v4.2.2

      - name: Use Node.js ${{ matrix.node-version }}
        uses: actions/setup-node@39370e3970a6d050c480ffad4ff0ed4d3fdee5af # v4.1.0
        with:
          node-version: ${{ matrix.node-version }}
          cache: npm

      - name: Install packages
        run: npm ci

      - name: Audit npm signatures
        run: npm audit signatures

      - name: Check codestyle compliance
        run: npm run lint

      - name: Run tests
        run: npm test

      - name: Upload coverage report
        if: strategy.job-index == 0
        uses: actions/upload-artifact@6f51ac03b9356f520e9adb1b1b7802705f340c2b # v4.5.0
        with:
          name: coverage-report
          path: coverage/lcov.info

  sonarcloud:
    runs-on: ubuntu-latest
    needs:
      - prevent-duplicate-checks
      - test_matrix
    if: ${{ needs.prevent-duplicate-checks.outputs.should-run == 'true' }}
    permissions:
      pull-requests: read
    steps:
      - name: Harden Runner
        uses: step-security/harden-runner@0080882f6c36860b6ba35c610c98ce87d4e2f26f # v2.10.2
        with:
          disable-sudo: true
          egress-policy: block
          allowed-endpoints: >
            *.amazonaws.com:443
            github.com:443
            sonarcloud.io:443
            *.sonarcloud.io:443

      - name: Checkout code
        uses: actions/checkout@11bd71901bbe5b1630ceea73d27597364c9af683 # v4.2.2
        with:
          fetch-depth: 0

      - name: Download coverage report
        uses: actions/download-artifact@fa0a91b85d4f404e444e00e005971372dc801d16 # v4.1.8
        with:
          name: coverage-report
          path: coverage/

      - name: Run SonarCloud scan
        uses: SonarSource/sonarcloud-github-action@e44258b109568baa0df60ed515909fc6c72cba92 # v2.3.0
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          SONAR_TOKEN: ${{ secrets.SONAR_TOKEN }}

  # separate job to set as required status check in branch protection
  required_check:
    runs-on: ubuntu-latest
    needs:
      - test_matrix
      - sonarcloud
    if: always()
    steps:
      - name: All required jobs and matrix versions passed
        if: ${{ !(contains(needs.*.result, 'failure')) }}
        run: exit 0
      - name: Some required jobs or matrix versions failed
        if: ${{ contains(needs.*.result, 'failure') }}
        run: exit 1
